<p id="notice"><%= notice %></p>

<p>
  <b>A:</b>
  <%= @newsletter.a %>
</p>

<p>
  <b>Content:</b>
  <%= @newsletter.content %>
</p>


<%= link_to 'Edit', edit_newsletter_path(@newsletter) %> |
<%= link_to 'Back', newsletters_path %>
