<h1>Inscriptions</h1>

<pre>

<% @registrations.each do |registration| %>
"<%= registration.institution %>" "<%= registration.last_name %>" "<%= registration.first_name %>" "<%= registration.function %>" "<%= registration.address.gsub(/\s+/, ' ') %>" "" "<%= registration.zip %>" "<%= registration.city %>" "<%= registration.phone %>" "<%= registration.email %>" "<%= registration.hardship == true ? 1 : 0 %>" "<%= registration.lunch_1 == true ? 1 : 0 %>" "<%= registration.festival == true ? 1 : 0 %>" "<%= registration.lunch_2 == true ? 1 : 0 %>" "<%= registration.invoice == true ? 1 : 0 %>"
<% end %>
</pre>

<%# registration.dedication == true ? 1 : 0 %>
<%# registration.charge %>
<%# registration.invoice == true ? 0 : 1 %>
<%# registration.payment == true ? 1 : 0 %>
<%# registration.payment == true ? 0 : 1 %>
<%# button_to tout_supprimer, 'NETTOYER !!!!!!!!!!!!' %>