<% content_for :css do %>
  <%= stylesheet_link_tag "podium", :media => "all" %>
<% end %>

<div id="main">

  <div id="north">
	  <% if browser.ie6? || browser.ie7? || browser.ie8? %>
      Nous vous conseillons de mettre votre navigateur à jour ou d'utiliser une version récente de Firefox, Chrome ou Safari.
    <% end %>
  </div>

  <div id="content">

    <%= link_to("", root_path, id: "uHaaMBgaXBJW6") %>
    <div id="#uHaaMBgaXBJW0"></div>
    <div id="#di5001699"></div>
    <%= link_to("", "http://www.fondation.univ-montp1.fr/", id: "aContentSouth", target: "_blank") %>
    <!-- // overlays -->
    
    <div class="yui3-g" id="header" style="background-image:url('/z/png/s7KgcaumCpIj1.png')">
      <div class="yui3-u-1-5"><h1></h1></div>
      <div class="yui3-u-4-5" id="contact">
        contact : <a href="mailto:fondation@univ-montp1.fr">fondation@univ-montp1.fr</a>
      </div>
    </div>

    <%= link_to("", "http://www.fondation.univ-montp1.fr/", id: "T2tq9Av82QNm6", target: "_blank") %>
    <%= link_to("", "http://www.preventionbtp.fr/Magazine/La-prevention-autrement/50-ans-de-prevention", id: "yizKaJweSm046", target: "_blank") %>

    <div class="yui3-g">
      <div class="yui3-u-2-3">
        <div id="visuel">
          <!-- <h2>festival du film <span>la santé au travail</span></h2> -->
          <h2 style="padding-bottom:0;margin-bottom:0">19 mars 2014 : <span>« management de proximité et santé au travail »</span></h2>
          <p style="padding-top:.38em;margin-top:0">Le rapport Lachmann, Larose et Pénicaud soulignait déjà, en février 2010, l'importance du management de proximité comme acteur de santé au travail&nbsp;:
          «&nbsp;La performance sociale devrait être ajoutée à la performance économique dans la rémunération variable des managers&nbsp;», écrivaient-ils.<br>
          Nous évoquerons les conséquences néfastes d'un mauvais management sur la santé des salariés et les performances de l'entreprise mais aussi les modèles vertueux ou les styles de management susceptibles de générer du bien-être et de l'efficacité au travail.</p>
          <h2 style="padding-bottom:0;margin-bottom:0">20 mars 2014 : <span>festival du film</span> la santé au travail</h2>
          <p style="padding-top:.38em;margin-top:0">Manifestation annuelle relative aux films cinématographiques en lien avec les problèmes de santé au travail, les Rencontres Villermé ont l'ambition d'aider à l'utilisation de l'outil cinématographique dans le domaine de la santé et la sécurité au travail, de faire connaître les films existants et d'en favoriser le partage.</p>
<div style="text-align:center;margin-top:1em;font-weight:bold;color:maroon;">
Les Rencontres Villermé ont lieu<br>
<a href="https://maps.google.fr/maps?q=rue+Vendémiaire+Montpellier&amp;hl=fr" target="_blank">Maison des étudiants Aimé Schoenig</a>,<br>
rue Vendémiaire à Montpellier
</div>
        </div>
      </div>
      <div class="yui3-u-1-3">
        <div id="contentEast">
          <%= image_tag("/z/jpg/contentEast.jpg") %>
        </div>
      </div>
    </div>

    <div class="yui3-g">
      <div class="yui3-u-2-3">
        <div id="steps">
          <%= link_to(image_tag("/z/png/vRNFhOvEQC4bN.png"), root_url, id: "vRNFhOvEQC4bN") %>
          <%= link_to(image_tag("/z/png/wRNFhOvEQC4bN.png"), root_url, id: "wRNFhOvEQC4bN") %>
          <%= link_to(image_tag("/z/png/xRNFhOvEQC4bN.png"), root_url, id: "xRNFhOvEQC4bN") %>
          <%= link_to(image_tag("/z/png/yRNFhOvEQC4bN.png"), root_url, id: "yRNFhOvEQC4bN") %>
          <%= link_to(image_tag("/z/png/aRNFhOvEQC4bN.png"), root_url, id: "aRNFhOvEQC4bN") %>
        </div>
      </div>
      <div class="yui3-u-1-3" id="clap"></div>
      <!-- <div class="yui3-u-1-3"></div> -->
    </div>

    <div id="contentSouth" class="yui3-g">
      <div class="yui3-u-2-3" style="text-align:right">
        * Retrouvez Oscar sur <%= link_to "PreventionBTP", "http://www.preventionbtp.fr/Magazine/La-prevention-autrement/50-ans-de-prevention", target: "_blank" %>
      </div>
    </div>

  </div><!-- // fin de content -->

  <div id="footer">
    <div class="yui3-g">
      <div class="yui3-u-1-24"></div>
      <div class="yui3-u-23-24">
        <%= render :partial => 'footer_east' %>
      </div>
    </div>
  </div>

  <% if browser.ie6? || browser.ie7? || browser.ie8? %>
  <% var = '<div style="text-align:center;margin-top:3em"><p>Les Rencontres Villermé utilisent des fonctionnalités que votre navigateur ne connaît pas.</p><p>Nous vous conseillons de mettre votre navigateur à jour ou d’utiliser une version récente de Firefox, Chrome ou Safari.</p></div>' %>
  <div id="candidates" class="yui3-loading">
    <div class="yui3-widget-bd">
	    <%= var %>
    </div>
  </div>

  <div id="jury" class="yui3-loading">
    <div class="yui3-widget-bd">
	    <%= var %>
    </div>
  </div>

  <div id="director" class="yui3-loading">
    <div class="yui3-widget-bd">
	    <%= var %>
    </div>
  </div>

  <div id="register" class="yui3-loading">
    <div class="yui3-widget-bd">
	    <%= var %>
    </div>
  </div>
  <% else %>
  <div id="candidates" class="yui3-loading">
    <div class="yui3-widget-bd">
      <table style="width:100%;text-align:center">
        <tbody>
          <tr>
            <td><%= link_to(image_tag("/z/png/DPqwyTrP4Y2t6.png"), "#", id: "DPqwyTrP4Y2t6") %></td>
            <td><%= link_to(image_tag("/z/png/DPqwyTrP4Y2t7.png"), "#", id: "DPqwyTrP4Y2t7") %></td>
            </tr>
            <tr>
            <td>&nbsp;</td>
            <td>&nbsp;<!-- <strong>Pré-inscription avant le 6 déc.</strong> --></td>
          </tr>
          <tr>
            <td><a href="/z/pdf/prix-du-public.pdf" target="_blank">Règlement du Prix du Jury et du Public</a></td>
            <td><a href="/z/pdf/prix-jeunes-realisateurs.pdf" target="_blank">Règlement du Prix Jeunes Réalisateurs</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="jury" class="yui3-loading">
    <div class="yui3-widget-bd">
      <iframe src="/candidates/new"></iframe>
    </div>
  </div>

  <div id="director" class="yui3-loading">
    <div class="yui3-widget-bd">
      <iframe src="/directors/new"></iframe>
    </div>
  </div>

  <div id="register" class="yui3-loading">
    <div class="yui3-widget-bd">
      <iframe src="/registrations/new"></iframe>
    </div>
  </div>
  <% end %>

</div><!-- // fin de main -->

<% content_for :js do %>
  <%= javascript_include_tag "bienvenue" %>
<% end %>
